@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

html {
	overflow-y: scroll;
}
body {
	padding-top: 20px;
	padding-bottom: 16px;
}
header {
	.hero {
		h1 {
			margin-bottom: 0;
			font-size: 60px;
			line-height: 1;
			color: inherit;
			letter-spacing: -1px;
			
			a {
				color: #000;
				text-decoration: none !important;
			}
		}
	
		p {
			font-size: 18px;
			font-weight: 200;
			line-height: 27px;
			color: inherit;
		}
		
		.btn {
			font-weight: bold;
			
			small {
				color: rgba(255, 255, 255, 0.75);
				font-size: 12px;
			}
		}
		
		&.homepage {
			padding-bottom: 20px;
			padding-top: 17px;
			
			.hero-tag {
				display: none;
			}
			
			.hero-buttons {
				margin-top: 17px;
			}
		}
	}
	
	.hero-buttons {
		margin: 0;
		a, span {
			margin-bottom: 9px;
		}
	}
	
	.hero-tag {
		margin-top: 6px;
	}
	
	nav {
		position: relative;
		top: 6px;
		margin-top: -16px;
		
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		
		text-align: center;
		padding: 13px 0;
		background-color: #EEE;
		
		border: 1px solid #BBB;
		border-top: 0 none transparent;
		
		.box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.15));
		
		#gradient > .vertical(#CCC, #EEE);
		
		ul {
			display: inline-block;
			margin: 0;
			list-style: none;
		}
		
		li {
			display: inline;
		}
		
		a {
			text-shadow: 1px 1px #EEE;
			padding: 14px;
			margin: 0 4px;
			color: #333;
			text-decoration: none !important;
			font-size: 16px;
		}
		
		a:hover, a.active {
			color: #222;
			background-color: rgba(0,0,0,0.05);
			text-shadow: 1px 1px #DDD;
		}
		
		a.active {
			.box-shadow(inset 0 3px 5px rgba(0,0,0,.20));
		}
	}
}

hr {
	border-top: 1px solid #CCC;
	clear: both;
}

#BigTag {
	color: #333;
	margin: 30px 0;
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	line-height: 34px;
	
	b {
		color: #080;
	}
}

#FeaturesHome {
	margin-top: 25px;
	margin-bottom: 15px;
}

.features {
	h2 {
		font-size: 22px;
		font-weight: 300;
		
		img {
			float: left;
			margin: 7px 10px 0 0;
			opacity: .7;
		}
	}
}

.content {
	padding: 8px 0;
}

code {
	color: #333;
	border: 0 none transparent;
}

.indent {
	margin: 10px 0 10px 25px;
}

.toc-header {
	color: #666;
	font-size: 115%;
	font-weight: bold;
}

#Docs {
	position: relative;
}

#TOC {
	&.fixed {
		width: 220px;
		position: fixed;
		top: 20px;
	}
	
	&.bottom {
		width: 220px;
		position: absolute;
		bottom: 0;
	}

	li {
		margin-bottom: 6px;
	}
}

.tall-list {
	ul {
		margin-top: 6px;
	}
	li {
		margin-bottom: 6px;
	}
}

.btn {
	&.btn-primary, &.btn-success, &.btn-info, &.btn-warning, &.btn-danger, &.btn-inverse {
		small {
			color: rgba(255, 255, 255, 0.75);
		}
	}
}

.topjump {
	display: none;
	font-weight: normal;
	text-decoration: none;
}
h2 .topjump {
	font-size: 15px;
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #EEE;
	.border-radius(8px);
}

footer {
	padding-left: 20px;
}

// For desktops
.visible-inline-phone      { display: none; }
.visible-inline-phone-mini { display: none; }
.visible-inline-tablet     { display: none; }
.visible-inline-desktop    { display: inline; }
.hidden-inline-phone       { display: inline; }
.hidden-inline-phone-mini  { display: inline; }
.hidden-inline-tablet      { display: inline; }
.hidden-inline-desktop     { display: none; }

// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {
	.features h2 {
		font-size: 18px;
		
		img {
		    margin-right: 5px;
		}
	}
	header nav {
		padding: 9px 0;
		
		a {
			padding: 10px;
		}
	}
	pre {
		overflow: auto;
		white-space: pre;
		word-break: normal;
		word-wrap: normal;
		&.console {
			font-size: 11px;
		}
	}
	
	#BigTag {
		font-size: 18px;
	}
}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
@media (max-width: 767px) {
	.visible-inline-phone     { display: inline; }
	.hidden-inline-phone      { display: none; }
	.hidden-inline-desktop    { display: inline; }
	.visible-inline-desktop   { display: none; }
	
	header nav a {
		padding: 10px 5px;
		margin: 0 2px;
	}
	
	#TOC.fixed {
		width: auto;
		position: static;
		top: auto;
	}
	
	#BigTag {
		text-align: left;
		line-height: 24px;
		
		div {
			display: inline;
		}
	}
	
	.topjump {
		display: inline;
	}
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
@media (min-width: 768px) and (max-width: 979px) {
	.visible-inline-tablet    { display: inline; }
	.hidden-inline-tablet     { display: none; }
	.hidden-inline-desktop    { display: inline; }
	.visible-inline-desktop   { display: none; }
	
	#TOC {
		&.fixed {
			width: 166px;
		}
		ul {
			margin-left: 0;
		}
		li {
			margin-bottom: 8px;
			list-style: none;
		}
	}
}

// UP TO LANDSCAPE PHONE
@media (max-width: 480px) {
	.visible-inline-phone-mini { display: inline; }
	.hidden-inline-phone-mini  { display: none; }
	
	header nav a {
		margin: 0;
		padding: 10px 4px;
	}
	
	.indent {
		margin-left: 0;
	}
}

// DEFAULT DESKTOP
@media (min-width: 980px) {
}

// LARGE DESKTOP & UP
@media (min-width: 1200px) {
}