body {
	padding-top: 20px;
	padding-bottom: 16px;
	background-color: #F5F5F5;
}
#Hero {
	padding: 50px;
	padding-left: 60px;
	margin-bottom: 10px;
	background-color: #FFF;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	border-color: #DDD;
	border-color: rgba(0, 0, 0, 0.1);
	
	background-color: #343434;
	background-image: url(../images/hero-bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	color: white;
}
#HeroIcon {
	background-image: url(../images/disk_128w.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 160px;
}
#HeroTag {
	color: #CCC;
	margin-top: 6px;
}
#Hero .btn {
	font-weight: bold;
}
#Hero .btn small {
	color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
}
footer {
	padding-left: 20px;
}

hr {
	border-top: 1px solid #CCC;
}

.features h2 {
	font-size: 22px;
	font-weight: 300;
}
.features h2 img {
	float: left;
	margin: 7px 10px 0 0;
	opacity: .7;
}