html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background-color: #343434;
	background-image: url(../images/background.gif);
	background-repeat: repeat-x;
	margin: 0;
	padding: 10px;
	padding-top: 2px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.styledtable {
	border: 1px solid #b5aa88;
	border-spacing: 1px;
}
.styledtable th, .styledtable td {
	border: 0 none #000;
}
.styledtable th {
	background-image: url(../images/tableheader-background.png);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #2d6395;
	color: #FFF;
}
.styledtable th a {
	color: #FFF;
}
.styledtable tbody th {
	text-align: right;
}
.styledtable tbody tr.odd td {
	background-color: #edead9;
}

#Title {
	font-size: 25px;
	padding: 8px;
	padding-left: 48px;
	margin-left: 10px;
	color: #FFF;
	background-image: url(../images/title-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	position: relative;
}

#Title b {
	color: #dfcd90;
	font-weight: normal;
}

#Created {
    color: #CCCCCC;
    font-size: 13px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

#Container {
	background-color: #3980ac;
	background-image: url(../images/contents-background.png);
	background-repeat: repeat-y;
	background-position: center center;
	height: 300px;
	padding: 10px;
	overflow: hidden;
}

#LeftColumn {
	float: left;
	width: 200px;
	height: 100%;
	margin-right: 10px;
	overflow: auto;
	background-color: #f7f6f0;
}

#RightColumn {
	position: relative;
	height: 100%;
	overflow: hidden;
}

#ReportHead {
	padding: 6px;
	padding-left: 40px;
	padding-bottom: 14px;
	margin-left: 6px;
	background-image: url(../images/folder-large.png);
	background-repeat: no-repeat;
	background-position: 0 7px;
	color: #FFF;
}

#ReportHead a {
	color: #FFF;
}

#Path {
	font-size: 24px;
	padding-bottom: 4px;
}

#Tabs ul, #Tabs li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#Tabs li {
	cursor: pointer;
	position: relative;
	top: 1px;
	float: left;
	display: block;
	padding: 8px;
	margin-left: 10px;
	background-color: #B9B6A5;
	color: #5A5842;
	font-weight: bold;
	background-image: url(../images/tab-background.gif);
	background-position: center top;
	background-repeat: repeat-x;
	border-bottom: 1px solid #918E81;
}
#Tabs li:hover {
	text-decoration: underline;
}

#Tabs li.selected {
	cursor: default;
	text-decoration: none !important;
	background-color: #F7F6F0;
	border-bottom: 1px solid #F7F6F0;
	background-image: none;
	color: #000;
}

#Report {
	border-top: 1px solid #918E81;
	clear: both;
	overflow: auto;
	height: 200px;
	padding: 8px;
	background-color: #f7f6f0;
}

#DirectoryTree {
	padding: 8px;
}