<div class="row">
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_043_group.png" width="35" height="22"> Designed for Admins</h2>
		<p>Managing your disk usage can be hard, especially when you're hosting someone else's files. We know this well and built a tool to fit that need.</p>
	</div>
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_289_podium.png" width="28" height="21"> Secure by Simplicity</h2>
		<p>The more complex things get, the more insecure they become. Reports are completely static, so there is no chance of server-side vulnerabilities.</p>
	</div>
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_160_imac.png" width="26" height="22"> Cross Platform +</h2>
		<p>Built for portability using PHP 4.3+. But sometimes speed is everything, so we built platform-specific scripts as well.</p>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_319_sort.png" width="25" height="25"> Reports Stored as JSON</h2>
		<p>Reports are kept as small as possible by storing the data as JSON, and using a single HTML/JavaScript UI to view them all.</p>
	</div>
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_012_heart.png" width="24" height="22"> Open Source</h2>
		<p><a href="https://github.com/amekkawi/diskusagereports" onclick="return ROL(this);">Fork on GitHub</a> to customize it to fit your needs, and share your changes with the community!</p>
	</div>
	<div class="span4">
		<h2><img src="{{ page.basepath }}images/glyphicons_214_resize_small.png" width="24" height="24"> Centralize It</h2>
		<p>No need to waste CPU time on your servers. Scanning and report generation are separated to allow you offload the heavy work elsewhere.</p>
	</div>
</div>