<h2 id="du-parentDirs" <% if (!args.isRoot) { %>data-toggle="dropdown"<% } %>><span class="caret"></span> <%-args.name%><%-_.uniqueId()%></h2>
<% if (!args.isRoot) { %>
<ul class="dropdown-menu" style="max-width: 100%; overflow: hidden;" role="menu" aria-labelledby="du-parentDirs">
	<li role="presentation" class="dropdown-header"><%=args.Lang.basename_dropdown_header%></li>
	<% _.forEachRight(args.parents, function(parent, i) {
	%><li role="presentation"><a role="menuitem" tabindex="-1" href="#<%-args.app.buildRouteUrl({ hash: parent.hash })%>"><%-parent.name%></a></li><%
	}); %>
	<li role="presentation"><a role="menuitem" tabindex="-1" href="#<%-args.app.buildRouteUrl({ hash: args.settings.root })%>"><%-args.settings.rootName || '/'%></a></li>
</ul>
<% } %>
