<ol class="breadcrumb">
	<li><a href="#<%-args.app.buildRouteUrl({ hash: args.settings.root, page: 1 })%>"><span class="glyphicon glyphicon-folder-open"></span><%-args.settings.rootName || '/'%></a></li>
	<% if (args.settings.root != args.hash) { %>
		<% _.forEach(args.parents, function(parent, i) {
		%> <li><a href="#<%-args.app.buildRouteUrl({ hash: parent.hash, page: 1 })%>"><%-parent.name%></a></li> <%
		}); %>
		<li class="active"><span><%-args.name%></a></li>
	<% } %>
</ol>
<div class="du-breadcrumb-fade"></div>
