<%
var ariaId;
var defaultSort = 's';
var sort = args.route.sort.dirs;
var sortColumns = {
	s: {
		long: 'Disk Size',
		short: 'Size',
		invert: true
	},
	c: {
		long: 'File Count',
		short: 'Files',
		invert: true
	},
	d: {
		long: 'Sub Dirs',
		short: 'Dirs',
		invert: true
	}
};
%>
<table border="0" class="table table-rigid">
	<thead>
		<tr>
			<th class="du-tab-dirs-col1 visible-xs">
				<div class="dropdown">
					<%=
					args.sortDropdown({
						sort: sort,
						key: 'dirs',
						defaultSort: defaultSort,
						columns: sortColumns,
						app: args.app
					})
					%>
				</div>
			</th>
			<th class="du-tab-dirs-col1 visible-sm">
				<%= _.reduce(sortColumns, function(ret, column, columnKey) {
					ret.push(args.sortLink({ sort: sort, invert: column.invert, label: column.short, asc: columnKey, desc: columnKey.toUpperCase(), key: 'dirs', app: args.app }));
					return ret;
				}, []).join(' / ') %>
			</th>

			<%
			var iCol = 1;
			_.each(sortColumns, function(column, columnKey) {
				%><th class="du-tab-dirs-col<%-iCol++%> hidden-sm hidden-xs">
					<%=args.sortLink({ sort: sort, invert: column.invert, label: column.long, asc: columnKey, desc: columnKey.toUpperCase(), key: 'dirs', style: 'width: 100%;', app: args.app })%>
				</th><%
			});
			%>

			<th class="du-tab-dirs-col4">
				<%=args.sortLink({ sort: sort, label: 'Name', asc: 'n', desc: 'N', key: 'dirs', style: 'width: 100%;', app: args.app })%>
			</th>
		</tr>
	</thead>
	<tbody>
		<% _.each(args.dirs, function(dir) {
			var sizePer = args.fileSize && (dir.size / args.fileSize) || 0;
			var countPer = args.fileCount && (dir.fileCount / args.fileCount) || 0;
			var dirsPer = args.subDirCount && (dir.dirCount / args.subDirCount) || 0;
			%><tr>
				<td class="<%- sort.toLowerCase() === 's' || sort.toLowerCase() === 'n' ? '' : 'hidden-sm hidden-xs' %>">
					<%= args.progressBar({
						percent: sizePer,
						leftText: Math.round(sizePer * 1000) / 10 + '%',
						rightText: args.Lang.formatBytes(dir.size)
					}) %>
				</td>
				<td class="<%- sort.toLowerCase() === 'c' ? '' : 'hidden-sm hidden-xs' %>">
					<%= args.progressBar({
						percent: countPer,
						leftText: Math.round(countPer * 1000) / 10 + '%',
						rightText: args.Lang.formatNumber(dir.fileCount)
					}) %>
				</td>
				<td class="<%- sort.toLowerCase() === 'd' ? '' : 'hidden-sm hidden-xs' %>">
					<%= args.progressBar({
						percent: dirsPer,
						leftText: Math.round(dirsPer * 1000) / 10 + '%',
						rightText: args.Lang.formatNumber(dir.dirCount)
					}) %>
				</td>
				<td style="overflow: hidden"><a href="#<%-args.app.buildRouteUrl({ hash: dir.hash, page: 1 })%>" class="icon-link"><span class="glyphicon glyphicon-folder-open"></span><%-dir.name%></a></td>
			</tr><%
		}); %>
	</tbody>
</table>
