<%
var ariaId;
var defaultSort = 's';
var sort = args.route.sort.sizes;
var sortColumns = {
	s: {
		long: 'Disk Size',
		short: 'Size',
		invert: true
	},
	c: {
		long: 'File Count',
		short: 'Files'
	}
};
%>
<table border="0" class="table table-rigid">
	<thead>
		<tr>
			<th class="du-tab-sizes-col1 visible-xs">
				<div class="dropdown">
					<%=
					args.sortDropdown({
						sort: sort,
						key: 'sizes',
						defaultSort: defaultSort,
						columns: sortColumns,
						app: args.app
					})
					%>
				</div>
			</th>
			<th class="du-tab-sizes-col1 visible-sm">
				<%= _.reduce(sortColumns, function(ret, column, columnKey) {
					ret.push(args.sortLink({ sort: sort, invert: column.invert, label: column.short, asc: columnKey, desc: columnKey.toUpperCase(), key: 'sizes', app: args.app }));
					return ret;
				}, []).join(' / ') %>
			</th>

			<%
			var iCol = 1;
			_.each(sortColumns, function(column, columnKey) {
				%><th class="du-tab-sizes-col<%-iCol++%> hidden-sm hidden-xs">
					<%=args.sortLink({ sort: sort, invert: column.invert, label: column.long, asc: columnKey, desc: columnKey.toUpperCase(), key: 'sizes', style: 'width: 100%;', app: args.app })%>
				</th><%
			});
			%>

			<th class="du-tab-sizes-col4">
				<%=args.sortLink({ sort: sort, label: 'Range', asc: 'r', desc: 'R', key: 'sizes', style: 'width: 100%;', app: args.app })%>
			</th>
		</tr>
	</thead>
	<tbody>
		<% _.each(args.sizes, function(sizesData) {
			var sizePer = args.fileSize && (sizesData.size / args.fileSize) || 0;
			var countPer = args.fileCount && (sizesData.files / args.fileCount) || 0;
			%><tr>
				<td class="<%- sort.toLowerCase() === 's' || sort.toLowerCase() === 'r' ? '' : 'hidden-sm hidden-xs' %>">
					<%= args.progressBar({
						percent: sizePer,
						leftText: Math.round(sizePer * 1000) / 10 + '%',
						rightText: args.Lang.formatBytes(sizesData.size)
					}) %>
				</td>
				<td class="<%- sort.toLowerCase() === 'c' ? '' : 'hidden-sm hidden-xs' %>" style="text-align: center;">
					<%= args.progressBar({
						percent: countPer,
						leftText: Math.round(countPer * 1000) / 10 + '%',
						rightText: args.Lang.formatNumber(sizesData.files)
					}) %>
				</td>
				<td style="overflow: hidden">
					<%-args.sizeGroups[sizesData.index].label%>
				</td>
			</tr><%
		}); %>
	</tbody>
</table>
