<ul class="nav nav-tabs hidden-xs">
	<li class="active"><a href="#"><%=args.Lang.tab_dirs%></a></li>
	<li><a href="#"><%=args.Lang.tab_files%></a></li>
	<li><a href="#"><%=args.Lang.tab_modified%></a></li>
	<li><a href="#"><%=args.Lang.tab_sizes%></a></li>
	<li><a href="#"><%=args.Lang.tab_ext%></a></li>
	<li><a href="#"><%=args.Lang.tab_top%></a></li>
</ul>
<ul class="nav nav-tabs visible-xs">
	<li class="active dropdown">
		<a href="#" style="cursor: pointer;" data-toggle="dropdown"><%=args.Lang.tab_dirs%> <span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=args.Lang.tab_dirs%>  <span class="glyphicon glyphicon-ok" style="font-size: 75%; line-height: 18px;"></span></a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=args.Lang.tab_files%></a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=args.Lang.tab_modified%></a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=args.Lang.tab_ext%></a></li>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%=args.Lang.tab_top%></a></li>
		</ul>
	</li>
</ul>
