<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }} | Disk Usage Reports{% else %}Disk Usage Reports: A web-based way to view disk usage{% endif %}</title>
		<link rel="shortcut icon" href="{{ page.basepath }}images/favicon.png" type="image/png">
		
		<link media="all" rel="stylesheet{%if site.LessExt == 'less' %}/less{%endif%}" type="text/css" href="{{ page.basepath }}css/base.{{site.LessExt}}">
		<link media="screen" rel="stylesheet{%if site.LessExt == 'less' %}/less{%endif%}" type="text/css" href="{{ page.basepath }}css/screen.{{site.LessExt}}">
		<link media="print" rel="stylesheet{%if site.LessExt == 'less' %}/less{%endif%}" type="text/css" href="{{ page.basepath }}css/print.{{site.LessExt}}">
		
		{% for file in page.css %}
			{% capture firstchar %}{{ file | truncate: 1, '' }}{% endcapture %}
			{% capture first7char %}{{ file | truncate: 7, '' }}{% endcapture %}
			{% capture first8char %}{{ file | truncate: 8, '' }}{% endcapture %}
			{% if firstchar == '.' or firstchar == '/' or first7char == 'http://' or first8char == 'https://' %}
				<link href="{{ file }}" type="text/css" rel="stylesheet">
			{% else %}
				<link href="{{ page.basepath }}css/{{ file }}" type="text/css" rel="stylesheet">
			{% endif %}
		{% endfor %}
		
		{% if page.js %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		{% endif %}
		
		{% for file in page.js %}
			{% capture firstchar %}{{ file | truncate: 1, '' }}{% endcapture %}
			{% capture first7char %}{{ file | truncate: 7, '' }}{% endcapture %}
			{% capture first8char %}{{ file | truncate: 8, '' }}{% endcapture %}
			{% if firstchar == '.' or firstchar == '/' or first7char == 'http://' or first8char == 'https://' %}
				<script src="{{ file }}"></script>
			{% else %}
				<script src="{{ page.basepath }}js/{{ file }}"></script>
			{% endif %}
		{% endfor %}
		
		{% if site.LessExt == 'less' %}
		<script src="{{ page.basepath }}js/less.min.js"></script>
		{% endif %}
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21143641-1']);
			
			{% if page.activepage == 404 %}
			_gaq.push(['_trackPageview', "/404.html?page=" + document.location.pathname + document.location.search + "&from=" + document.referrer]);
			{% else %}
			_gaq.push(['_trackPageview']);
			{% endif %}
			
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
		function RE(category, action, label) {
			_gaq.push(['_trackEvent', category, action, label]);
		}
		
		function ROL(anchor) {
			try {
				RE('Outbound', 'Link', anchor.href);
				setTimeout(function(){
					if (anchor.target == '_blank')
						window.open(anchor.href);
					else
						document.location = anchor.href;
				}, 100)
				return false;
			} catch(err) { }
		}
		
		function ROD(anchor, version) {
			try {
				RE('Outbound', 'Download', version);
				setTimeout(function(){
					if (anchor.target == '_blank')
						window.open(anchor.href);
					else
						document.location = anchor.href;
				}, 100)
				return false;
			} catch(err) { }
		}
		</script>
	</head>

	<body>
		<div class="container">
			
			<header>
				<div class="hero">
					<h1><a href="{{ page.basepath }}./">Disk Usage Reports</a></h1>
					<p class="hero-tag">A web-based way to remotely view disk usage.</p>
					{% if page.activepage == 'home' %}
					<p class="hero-buttons noprint">
						<a href="{{ site.LatestURL }}" class="btn btn-primary btn-large" onclick="return ROD(this, 'latest header');">Download Latest <small>({{ site.LatestVersion }})</small></a>
						<span class="hide"> or </span>
						<a href="https://github.com/amekkawi/diskusagereports" target="_blank" class="btn btn-large btn-success" onclick="return ROL(this);">Get Involved via Github &raquo;</a>
					</p>
					{% endif %}
				</div>
				<nav class="noprint">
					<ul>
						<li><a href="{{ page.basepath }}./" class="{% if page.activepage == 'home' %}active{% endif %}">Home</a></li>
						<li><a href="{{ page.basepath }}features.html" class=" {% if page.activepage == 'features' %}active{% endif %}">Features</a></li>
						<li><a href="{{ page.basepath }}demo/" class="{% if page.activepage == 'demo' %}active{% endif %}">Demo</a></li>
						<li><a href="{{ page.basepath }}docs/" class="{% if page.activepage == 'docs' %}active{% endif %}">Doc<span class="hidden-inline-phone">umentation</span><span class="visible-inline-phone">s</span></a></li>
						<li class="hidden-inline-phone-mini"><a href="{{ page.basepath }}download.html" class="{% if page.activepage == 'downloads' %}active{% endif %}">Downloads</a></li>
						<li><a href="{{ page.basepath }}help/" class="{% if page.activepage == 'help' %}active{% endif %}"><span class="hidden-inline-phone">Get </span>Help</a></li>
						<li class="visible-inline-desktop"><a href="{{ page.basepath }}license.html" class="{% if page.activepage == 'license' %}active{% endif %}">License</a></li>
						<li class="hidden-inline-phone {% if page.activepage == 'home' %}hidex{% endif %}"><a href="https://github.com/amekkawi/diskusagereports" target="_blank" class="{% if page.activepage == 'github' %}active{% endif %}" onclick="return ROL(this);"><span class="visible-inline-desktop">Fork on </span>Github &raquo;</a></li>
					</ul>
				</nav>
			</header>
			
			{{ content }}

			<hr style="margin-top: 0;">

			<footer>
				<p>&copy; {{ site.time | date: "%Y" }} André Mekkawi | Available under an <a href="{{ page.basepath }}license.html">MIT License</a> | Hosting provided by <a href="http://github.com/">GitHub</a></p>
			</footer>

		</div>

	</body>
</html>
