<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} | Disk Usage Reports{% else %}Disk Usage Reports: A web-based way to view disk usage{% endif %}</title>
		<link rel="shortcut icon" href="{{ page.basepath }}images/favicon.png" type="image/png">
		<!--<link href="{{ page.basepath }}css/bootstrap.css" type="text/css" rel="stylesheet">-->
		<!--<link href="{{ page.basepath }}css/base.css" type="text/css" rel="stylesheet">-->
		<link rel="stylesheet/less" type="text/css" href="{{ page.basepath }}css/base.less">
		
		{% for file in page.css %}
		<link href="{{ page.basepath }}css/{{ file }}" type="text/css" rel="stylesheet">
		{% endfor %}
		
		{% if page.js %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		{% endif %}
		
		{% for file in page.js %}
		<script src="{{ page.basepath }}js/{{ file }}"></script>
		{% endfor %}
		
		<script src="{{ page.basepath }}js/less.min.js"></script>
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21143641-1']);
			_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
		function RE(category, action, label) {
			_gaq.push(['_trackEvent', category, action, label]);
		}
		
		function ROL(anchor) {
			try {
				RE('Outbound', 'Link', anchor.href);
				setTimeout(function(){
					if (anchor.target == '_blank')
						window.open(anchor.href);
					else
						document.location = anchor.href;
				}, 100)
				return false;
			} catch(err) { }
		}
		
		function ROD(anchor, version) {
			try {
				RE('Outbound', 'Download', version);
				setTimeout(function(){
					if (anchor.target == '_blank')
						window.open(anchor.href);
					else
						document.location = anchor.href;
				}, 100)
				return false;
			} catch(err) { }
		}
		</script>
	</head>

	<body>
		<div class="container">
			
			<header>
				<div class="hero">
					<h1><a href="{{ page.basepath }}./">Disk Usage Reports</a></h1>
					<p class="hero-tag">A web-based way to remotely view disk usage.</p>
					{% if page.activepage == 'home' %}
					<p class="hero-buttons">
						<a href="{{ site.LatestURL }}" class="btn btn-primary btn-large" onclick="return ROD(this, 'latest header');">Download Latest <small>({{ site.LatestVersion }})</small></a>
						<span class="hide"> or </span>
						<a href="https://github.com/amekkawi/diskusagereports" target="_blank" class="btn btn-large btn-success" onclick="return ROL(this);">Get Involved via Github &raquo;</a>
					</p>
					{% endif %}
				</div>
				<nav>
					<ul>
						<li><a href="{{ page.basepath }}./" class="{% if page.activepage == 'home' %}active{% endif %}">Home</a></li>
						<li><a href="{{ page.basepath }}features.html" class="{% if page.activepage == 'features' %}active{% endif %}">Features</a></li>
						<li><a href="{{ page.basepath }}demo/" class="{% if page.activepage == 'demo' %}active{% endif %}">Demo</a></li>
						<li><a href="{{ page.basepath }}docs/" class="{% if page.activepage == 'docs' %}active{% endif %}">Documentation</a></li>
						<li><a href="{{ page.basepath }}download.html" class="{% if page.activepage == 'downloads' %}active{% endif %}">Downloads</a></li>
						<li><a href="{{ page.basepath }}help/" class="{% if page.activepage == 'help' %}active{% endif %}">Get Help</a></li>
						<li><a href="{{ page.basepath }}license.html" class="{% if page.activepage == 'license' %}active{% endif %}">License</a></li>
						<li class="{% if page.activepage == 'home' %}hidex{% endif %}"><a href="https://github.com/amekkawi/diskusagereports" target="_blank" class="{% if page.activepage == 'github' %}active{% endif %}" onclick="return ROL(this);">Fork on Github &raquo;</a></li>
					</ul>
				</nav>
			</header>
			
			{{ content }}

			<hr style="margin-top: 0;">

			<footer>
				<p>&copy; {{ site.time | date: "%Y" }} André Mekkawi | Available under an <a href="{{ page.basepath }}license.html">MIT License</a> | Hosting provided by <a href="http://github.com/">GitHub</a></p>
			</footer>

		</div>

	</body>
</html>
